$subtext-stack: Tinos, Helvetica, sans-serif;
$headline-stack: Thasadith, Helvetica, sans-serif;
$primary-color: #ffd4a5;
$primary-color-with-opacity: rgba(255, 232, 190, 0.7);
$primary-color-with-slight-opacity: rgba(255, 232, 190, 0.97);